
// Variables
@import 'variables';

// Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
// Your custom mixin overwrites.


// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

h1, h2, h3, h4, h5, h6{
  font-weight:bold;
}

body {
  min-width: 300px;
}

.uk-table{
  caption {
    padding: 16px;
    background-color: $global-muted-background;
    font-size: $global-font-size;
    font-weight: bold;

    @media(max-width: $breakpoint-medium){
      display: block;
    }
  }
}

.uk-button-muted {
  background-color: $global-muted-background;
  color: $global-color;

  &:hover {
    background-color: darken($global-muted-background, 5%);
  }
}

.uk-button {
  font-weight:bold;
  border-radius: 4px;
}

.uk-input, .uk-select, .uk-textarea {
  border-radius: 4px;
}