
// Variables
@import 'variables';

// Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
// Your custom mixin overwrites.


// Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


.uk-button {
  border-radius: 4px;
  border-bottom: 2px solid darken($global-primary-background, 10%);
  border-right: 2px solid darken($global-primary-background, 10%);
}